<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ParentalMapper">
  <resultMap id="BaseResultMap" type="com.po.Parental">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="employ" jdbcType="VARCHAR" property="employ" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, p_name, relation, employ, phone, student_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parental
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from parental
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.po.Parental">
    insert into parental (id, p_name, relation, 
      employ, phone, student_id
      )
    values (#{id,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, 
      #{employ,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.po.Parental">
    insert into parental
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="employ != null">
        employ,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="employ != null">
        #{employ,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.po.Parental">
    update parental
    <set>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="employ != null">
        employ = #{employ,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.po.Parental">
    update parental
    set p_name = #{pName,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      employ = #{employ,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>